/* =================================================================
    Bloquer le scroll global
 =================================================================== */
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


/* Page */
.login-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f8fafc, #eef2ff);
}

/* Card */
.login-card {
  width: 100%;
  max-width: 380px;
  background: #fff;
  border-radius: 18px;
  padding: 2rem;
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08); */
}


/* Header */
.login-header {
    text-align: center;
    margin-bottom: 1.8rem;
}

.login-header h1 {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
}

.login-header p {
    font-size: 0.9rem;
    color: #666;
}

/* Form */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    color: #555;
}

.field input {
    padding: 0.7rem 0.8rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 0.9rem;
}

.field input:focus {
    outline: none;
    border-color: #1e40af;
}

/* Options */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
}

.remember {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.forgot {
    text-decoration: none;
    color: #1e40af;
}

.forgot:hover {
    text-decoration: underline;
}

/* Button */
.btn.primary {
    margin-top: 0.8rem;
    padding: 0.75rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #1e40af;
    color: #fff;
    font-size: 0.95rem;
    font-weight: 600;
}

.btn.primary:hover {
    background: #1e3a8a;
}

/* Footer */
.login-footer {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.7rem;
    color: #888;
}